extends layout

block content
  form(method="POST").form
    .group
      label(for="fullName") fullName: Name & Surname
      input(type="text" placeholder="MyName MySurname" name="fullName" required value=(formData && formData.fullName))

    - const fullNameErrors = errors && errors.fullName ? errors.fullName : [];
    if (fullNameErrors.length > 0)
      each error in fullNameErrors
        p#error= error

    .group
      label(for="birthDate") Birth Date 
      input(type="date" placeholder="####" name="birthDate" required value=(formData && formData.birthDate))

    - const birthDateErrors = errors && errors.birthDate ? errors.birthDate : [];
    if (birthDateErrors.length > 0)
      each error in birthDateErrors
        p#error= error

    .group
      label(for="email") @Mail 
      input(type="text" placeholder="myMail@ukr.net" name="email" required value=(formData && formData.email))

    - const emailErrors = errors && errors.email ? errors.email : [];
    if (emailErrors.length > 0)
      each error in emailErrors
        p#error= error

    button(type="submit") Save New User
