html
  head
    title Video Storage
    link(href="/favicon.ico" rel="icon" type="image/x-icon")
    link(href="/styles.css" rel="stylesheet")
    block headContent
  body
    div.navbar
      a(href="/") Home Page
      h3 The movies list availale to watch online
    block content