doctype html
html(lang="en")
  head
    title Very Exclusive Page(copied)
    link(href="/favicon.ico" rel="icon" type="image/x-icon")
    link(href="/styles.css" rel="stylesheet")
    block headContent
  body
    include nav
    block content